
h2 a{
    font-family: "Mulish";
    color: white;
    text-decoration: none;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

h2 a:hover{
    text-decoration: underline;
}
