.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    width: 100%;
    margin-bottom: 6rem;
}

.align-text{
    display: flex;
    align-items: end;
    flex-direction: column;
    text-decoration: none;
}

.align-text h1:nth-child(1){
    font-family: "Mulish";
    font-weight: 1000;
    font-size: 27px;
    color: #f4b315;
    text-shadow: #bd8a0a 0px 0px 15px;
}

.align-text h1:nth-child(2){
    font-family: "Josefinsans";
    font-weight: 300;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: rgba(255, 255, 255, 0.363) 0px 0px 15px;
}

.favorites{
    text-decoration: none;
    font-family: "Josefinsans";
    font-weight: 800;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: rgba(255, 255, 255, 0.363) 0px 0px 15px;
    background-color: #d8a011;
    box-shadow: #bd8a0a 0px 0px 15px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.favorites:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.363) 0px 0px 15px;
    color: #f4b315;
}